@import "./fonts";
@import "./heder";
@import "./promo";
@import "./reviews";
@import "./feedback";
@import "./gallery";
@import "./contacts";
@import "./footer";
@import "./burger";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
};

.container {
  margin: 0 auto;
  max-width: 1450px;
  min-width: 320px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
};

.wrapper {
  background: rgba(2, 4, 18, 1);
  position: relative;

}

.gradient {
  background: linear-gradient(327.34deg, rgba(2, 4, 18, 0.97) 39.41%, rgba(2, 4, 18, 0) 75.32%);
}

.rocket {
  width: 540px;
  height: 513px;
  background-image: url("../../dist/images/img_rocket.png");
  background-repeat: no-repeat;
  position: absolute;
  right: 195px;
  top: 892px;

  @media (max-width: 768px) {
    right: 12px;
  }
}

